@import "../../config/styles";

.project {
  width: 500px;
  margin-right: 500px;
  display: inline-block;

  img {
    width: 100%;
  }

  .body {
    // padding: 1rem 1rem;

    h1 {
      margin: 0;
      margin-bottom: 5px;
    }

    p {
      margin: 0 0 8px 0;
      white-space: normal;
    }
  }
}
