{
  "presets": ["env"],
  "plugins": [
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "syntax-class-properties",
    "transform-class-properties",
    "babel-plugin-transform-react-jsx"
  ]
}
