@import "../../config/styles";

.btn {
	color: white;
	height: 40px;
	border-width: 0;
	text-transform: lowercase;
	font-size: 12px;
	font-weight: 600;
	padding: 0 20px 0 20px;
	cursor: pointer;
	background-color: #fff;
	border-radius: .5rem;
	box-shadow: 0rem 0rem 2rem .1rem #7f8c8d;

	&-primary {
		background-color: $primary; 
	}

	&-secondary {
		background-color: $secondary; 
	}

	@include hover-state {
		outline: 0;
		background-color: $secondary;
	}

	@include transition (all, .75s, ease)
}
