@import "../../config/styles";
@import "../../fonts/fonts.scss";
@import "../../styles/colors.scss";

.btn {
  font-family: $Untitled;
  color: $lightgray;
  position: relative;
  background: none;
  border: none;
  font-size: 1rem;
  padding: 0;
  transform-origin: left;

  &::before {
    content: "";
    height: 1px;
    background-color: $gray;
    width: 100%;
    transform: scaleX(0);
    transition: all 0.25s ease;
    position: absolute;
    bottom: 0;
    transform-origin: left;
  }

  &:hover {
    cursor: pointer;
    color: $gray;
  }

  &:hover::before {
    transform: scaleX(1);
  }

  @include hover-state {
    cursor: pointer;
    color: $gray;
    outline: none;

    &::before {
      transform: scaleX(1);
    }
  }

  @include transition(all, 0.75s, ease);
}
