$black: #32373c;
$gray: #4f4f51;
$lightgray: #a9a9ad;
$white: #fbfbf8;
$green: #32ad36;
$pink: #f7a9ab;

.black {
  color: $black;
}

.lightgray {
  color: $lightgray;
}

.gray {
  color: $gray;
}

.white {
  color: $white;
}

.green {
  color: $green;
}

.pink {
  color: $pink;
}

.black-bg {
  background-color: $black;
}

.white-bg {
  background-color: $white;
}

.gray-bg {
  background-color: $gray;
}

.green-bg {
  background-color: $green;
}

.pink-bg {
  background-color: $pink;
}
