$black: #32373c;
$gray: #4f4f51;
$lightgray: #a9a9ad;
$darkgray: #383636;
$white: #fbfbf8;
$green: #32ad36;
$pink: #f7a9ab;
$darkwhite: #d2d2d6;
$red: #ef3a3a;

.black {
  color: $black;
}

.red {
  color: $red;
}

.lightgray {
  color: $lightgray;
}

.darkgray {
  color: $darkgray;
}

.darkwhite {
  color: $darkwhite;
}

.gray {
  color: $gray;
}

.white {
  color: $white;
}

.green {
  color: $green;
}

.pink {
  color: $pink;
}

.black-bg {
  background-color: $black;
}

.white-bg {
  background-color: $white;
}

.gray-bg {
  background-color: $gray;
}

.green-bg {
  background-color: $green;
}

.pink-bg {
  background-color: $pink;
}
