@import url("https://fonts.googleapis.com/css?family=Oswald|Quattrocento");
@import url("https://fonts.googleapis.com/css?family=Oswald|Quattrocento");
@import url("https://fonts.googleapis.com/css?family=Oswald|Quattrocento");
@import url("https://fonts.googleapis.com/css?family=Oswald|Quattrocento");
@import url("https://fonts.googleapis.com/css?family=Oswald|Quattrocento");
@import url(../fonts/sentinel-web/stylesheet.css);
@import url(../fonts/untitled-sans-web/stylesheet.css);
body {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

.sentinel-primary {
  font-family: "Sentinel";
  font-weight: 600; }

.sentinel-secondary {
  font-family: "Sentinel Book";
  font-weight: normal; }

.untitled-primary {
  font-family: "Untitled Sans";
  font-weight: normal; }

.untitled-secondary {
  font-family: "Untitled Sans";
  font-weight: 300; }

.untitled-secondary-italic {
  font-family: "Untitled Sans";
  font-weight: 300;
  font-style: italic; }

.black {
  color: #32373c; }

.red {
  color: #ef3a3a; }

.lightgray {
  color: #a9a9ad; }

.darkgray {
  color: #383636; }

.darkwhite {
  color: #d2d2d6; }

.gray {
  color: #4f4f51; }

.white {
  color: #fbfbf8; }

.green {
  color: #32ad36; }

.pink {
  color: #f7a9ab; }

.black-bg {
  background-color: #32373c; }

.white-bg {
  background-color: #fbfbf8; }

.gray-bg {
  background-color: #4f4f51; }

.green-bg {
  background-color: #32ad36; }

.pink-bg {
  background-color: #f7a9ab; }

.btn {
  font-family: "Untitled Sans";
  color: #a9a9ad;
  position: relative;
  background: none;
  border: none;
  font-size: 1.1rem;
  padding: 0;
  transform-origin: left;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease; }
  .btn::before {
    content: "";
    height: 1px;
    background-color: #4f4f51;
    width: 100%;
    transform: scaleX(0);
    transition: all 0.25s ease;
    position: absolute;
    bottom: 0;
    transform-origin: left; }
  .btn:hover {
    cursor: pointer;
    color: #4f4f51; }
  .btn:hover::before {
    transform: scaleX(1); }
  .btn:hover, .btn:active, .btn:focus {
    cursor: pointer;
    color: #4f4f51;
    outline: none; }
    .btn:hover::before, .btn:active::before, .btn:focus::before {
      transform: scaleX(1); }

.black {
  color: #32373c; }

.red {
  color: #ef3a3a; }

.lightgray {
  color: #a9a9ad; }

.darkgray {
  color: #383636; }

.darkwhite {
  color: #d2d2d6; }

.gray {
  color: #4f4f51; }

.white {
  color: #fbfbf8; }

.green {
  color: #32ad36; }

.pink {
  color: #f7a9ab; }

.black-bg {
  background-color: #32373c; }

.white-bg {
  background-color: #fbfbf8; }

.gray-bg {
  background-color: #4f4f51; }

.green-bg {
  background-color: #32ad36; }

.pink-bg {
  background-color: #f7a9ab; }

.projects-overlay {
  position: absolute;
  min-width: 100vw;
  min-height: 100%;
  overflow: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 13, 23, 0.9);
  padding-left: 200px;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 600px) {
    .projects-overlay {
      padding-left: 30px; } }

.projects-overlay-back {
  position: fixed;
  top: 0;
  left: 0;
  margin: 30px;
  font-size: 2rem;
  color: #a9a9ad; }
  .projects-overlay-back:hover {
    color: #fbfbf8; }
  .projects-overlay-back::before {
    display: none; }

.projects-list {
  white-space: nowrap; }

.loading-screen-block {
  text-align: center; }

.apply-teaser {
  text-align: center; }

.apply-teaser-header {
  width: 350px;
  max-width: 80%;
  margin: auto;
  font-size: 2.25rem; }

.apply-teaser-header2 {
  margin: 10px;
  font-size: 1.6rem; }

.card {
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: 0rem 0rem 2rem .1rem #7f8c8d;
  margin: 2rem 1.5rem .5rem 1.5rem;
  max-width: 25rem; }
  .card img {
    max-width: 100%;
    border-radius: .5rem .5rem 0rem 0rem; }
  .card .body {
    padding: 1rem 1rem; }
    .card .body h1 {
      color: black;
      margin: 0;
      color: #0A0B12;
      font-family: "Oswald", sans-serif; }
    .card .body p {
      color: #7B7B7B;
      font-family: "Quattrocentro", serif; }

.hdr {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0 0 0; }
  .hdr .title {
    color: #0A0B12;
    font-family: "Oswald", sans-serif;
    margin: 0; }
  .hdr .links_container {
    display: flex;
    flex-direction: row; }
    .hdr .links_container .link {
      display: flex;
      margin: 0 2rem 0 2rem;
      height: fit-content; }
      .hdr .links_container .link p {
        flex: 1;
        margin: 0;
        color: #7B7B7B;
        font-family: "Quattrocentro", serif;
        -webkit-transition: all 0.75s ease;
        -moz-transition: all 0.75s ease;
        -ms-transition: all 0.75s ease;
        -o-transition: all 0.75s ease;
        transition: all 0.75s ease; }
        .hdr .links_container .link p:hover, .hdr .links_container .link p:active, .hdr .links_container .link p:focus {
          outline: 0;
          color: #ffd69e; }

.success-screen-block {
  text-align: center; }

.failed-screen-block {
  text-align: center; }

.project {
  width: 500px;
  margin-right: 500px;
  display: inline-block; }
  .project img {
    width: 100%; }
  .project .body h1 {
    margin: 0;
    margin-bottom: 5px; }
  .project .body p {
    margin: 0;
    white-space: normal; }

.row {
  display: flex;
  flex-direction: row; }

.black {
  color: #32373c; }

.red {
  color: #ef3a3a; }

.lightgray {
  color: #a9a9ad; }

.darkgray {
  color: #383636; }

.darkwhite {
  color: #d2d2d6; }

.gray {
  color: #4f4f51; }

.white {
  color: #fbfbf8; }

.green {
  color: #32ad36; }

.pink {
  color: #f7a9ab; }

.black-bg {
  background-color: #32373c; }

.white-bg {
  background-color: #fbfbf8; }

.gray-bg {
  background-color: #4f4f51; }

.green-bg {
  background-color: #32ad36; }

.pink-bg {
  background-color: #f7a9ab; }

.sentinel-primary {
  font-family: "Sentinel";
  font-weight: 600; }

.sentinel-secondary {
  font-family: "Sentinel Book";
  font-weight: normal; }

.untitled-primary {
  font-family: "Untitled Sans";
  font-weight: normal; }

.untitled-secondary {
  font-family: "Untitled Sans";
  font-weight: 300; }

.untitled-secondary-italic {
  font-family: "Untitled Sans";
  font-weight: 300;
  font-style: italic; }

.click:hover {
  cursor: pointer; }

.text-underline {
  border-bottom: 0.5px #a9a9ad solid !important; }

.app-submit-button {
  margin-top: 0px;
  font-size: 1.3rem; }

.form-dropdown {
  margin-top: 10px; }

.form-item-container {
  margin-bottom: 50px; }
  @media only screen and (max-width: 600px) {
    .form-item-container {
      max-width: 50%; } }

.required-msg {
  font-size: 0.8rem; }

table,
th,
td {
  border: 1px solid black; }

.navbar-logo {
  font-size: 1.6rem;
  margin-bottom: 9px;
  text-decoration: none; }

.navbar-link {
  font-size: 1rem;
  position: relative;
  padding: 0;
  transform-origin: left;
  display: inline-block; }
  .navbar-link::before {
    content: "";
    height: 1px;
    background-color: #a9a9ad;
    width: 100%;
    transform: scaleX(0);
    transition: all 0.25s ease;
    position: absolute;
    bottom: 0;
    transform-origin: left; }
  .navbar-link:hover {
    cursor: pointer;
    color: #32373c; }
  .navbar-link:hover::before {
    transform: scaleX(1);
    background-color: #32373c; }

.navbar {
  position: relative; }

.sentinel-primary {
  font-family: "Sentinel";
  font-weight: 600; }

.sentinel-secondary {
  font-family: "Sentinel Book";
  font-weight: normal; }

.untitled-primary {
  font-family: "Untitled Sans";
  font-weight: normal; }

.untitled-secondary {
  font-family: "Untitled Sans";
  font-weight: 300; }

.untitled-secondary-italic {
  font-family: "Untitled Sans";
  font-weight: 300;
  font-style: italic; }

.black {
  color: #32373c; }

.red {
  color: #ef3a3a; }

.lightgray {
  color: #a9a9ad; }

.darkgray {
  color: #383636; }

.darkwhite {
  color: #d2d2d6; }

.gray {
  color: #4f4f51; }

.white {
  color: #fbfbf8; }

.green {
  color: #32ad36; }

.pink {
  color: #f7a9ab; }

.black-bg {
  background-color: #32373c; }

.white-bg {
  background-color: #fbfbf8; }

.gray-bg {
  background-color: #4f4f51; }

.green-bg {
  background-color: #32ad36; }

.pink-bg {
  background-color: #f7a9ab; }

.main-content {
  padding: 30px;
  background-color: #fbfbf8;
  padding-bottom: 50px;
  min-height: 100vh;
  border: 25px solid #f7a9ab;
  overflow-x: hidden; }

.apply-puzzle {
  position: fixed;
  max-height: 70%;
  height: 600px;
  top: 0;
  right: 0;
  transform: translate(100px, -225px);
  z-index: 0; }

.apply-main {
  z-index: 5;
  position: relative;
  padding-top: 100px; }

.project-quarters {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.project-quarter {
  font-size: 2rem; }
