@import url("https://fonts.googleapis.com/css?family=Oswald|Quattrocento");
@import url("https://fonts.googleapis.com/css?family=Oswald|Quattrocento");
@import url("https://fonts.googleapis.com/css?family=Oswald|Quattrocento");
@import url("https://fonts.googleapis.com/css?family=Oswald|Quattrocento");
@import url("https://fonts.googleapis.com/css?family=Oswald|Quattrocento");
body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif; }

.btn {
  color: white;
  height: 40px;
  border-width: 0;
  text-transform: lowercase;
  font-size: 12px;
  font-weight: 600;
  padding: 0 20px 0 20px;
  cursor: pointer;
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: 0rem 0rem 2rem .1rem #7f8c8d;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease; }
  .btn-primary {
    background-color: #ff7575; }
  .btn-secondary {
    background-color: #ffd69e; }
  .btn:hover, .btn:active, .btn:focus {
    outline: 0;
    background-color: #ffd69e; }

.card {
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: 0rem 0rem 2rem .1rem #7f8c8d;
  margin: 2rem 1.5rem .5rem 1.5rem;
  max-width: 25rem; }
  .card img {
    max-width: 100%;
    border-radius: .5rem .5rem 0rem 0rem; }
  .card .body {
    padding: 1rem 1rem; }
    .card .body h1 {
      color: black;
      margin: 0;
      color: #0A0B12;
      font-family: "Oswald", sans-serif; }
    .card .body p {
      color: #7B7B7B;
      font-family: "Quattrocentro", serif; }

.hdr {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0 0 0; }
  .hdr .title {
    color: #0A0B12;
    font-family: "Oswald", sans-serif;
    margin: 0; }
  .hdr .links_container {
    display: flex;
    flex-direction: row; }
    .hdr .links_container .link {
      display: flex;
      margin: 0 2rem 0 2rem;
      height: fit-content; }
      .hdr .links_container .link p {
        flex: 1;
        margin: 0;
        color: #7B7B7B;
        font-family: "Quattrocentro", serif;
        -webkit-transition: all 0.75s ease;
        -moz-transition: all 0.75s ease;
        -ms-transition: all 0.75s ease;
        -o-transition: all 0.75s ease;
        transition: all 0.75s ease; }
        .hdr .links_container .link p:hover, .hdr .links_container .link p:active, .hdr .links_container .link p:focus {
          outline: 0;
          color: #ffd69e; }

.project {
  width: 50%;
  margin: 4rem 0 7rem 0; }
  .project img {
    width: 100%; }
  .project .body {
    padding: 1rem 1rem; }
    .project .body h1 {
      color: black;
      margin: 0;
      color: #0A0B12;
      font-family: "Oswald", sans-serif; }
    .project .body p {
      color: #7B7B7B;
      font-family: "Quattrocentro", serif;
      margin: 0; }

.row {
  display: flex;
  flex-direction: row; }

.click:hover {
  cursor: pointer; }
