body {
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}

@import '../components/Button/style.scss';
@import '../components/Card/style.scss';
@import '../components/Header/style.scss';
@import '../components/Project/style.scss';
@import '../components/Row/style.scss';
@import '../components/FormItem/style.scss';
@import '../components/Form/style.scss';
@import '../components/Grid/style.scss';