body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

.btn {
  color: white;
  height: 40px;
  border-width: 0;
  text-transform: lowercase;
  font-size: 12px;
  font-weight: 600;
  padding: 0 20px 0 20px;
  cursor: pointer;
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: 0rem 0rem 2rem .1rem #7f8c8d;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease; }
  .btn-primary {
    background-color: #ff7575; }
  .btn-secondary {
    background-color: #ffd69e; }
  .btn:hover, .btn:active, .btn:focus {
    outline: 0;
    background-color: #ffd69e; }

.card {
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: 0rem 0rem 2rem .1rem #7f8c8d;
  margin: 2rem 1.5rem .5rem 1.5rem;
  max-width: 25rem; }
  .card img {
    max-width: 100%;
    border-radius: .5rem .5rem 0rem 0rem; }
  .card .body {
    padding: 1rem 1rem; }
    .card .body h1 {
      color: black;
      margin: 0; }
