body {
  margin: 0;
  padding: 0;
}

@import "../components/Button/style.scss";
@import "../components/LoadingScreen/style.scss";
@import "../components/ApplyProjectMember/style.scss";
@import "../components/Card/style.scss";
@import "../components/Header/style.scss";
@import "../components/SuccessScreen/style.scss";
@import "../components/FailedScreen/style.scss";
@import "../components/Project/style.scss";
@import "../components/Row/style.scss";
@import "../components/FormItem/style.scss";
@import "../components/Form/style.scss";
@import "../components/Grid/style.scss";
@import "../components/NavBar/style.scss";
@import "../fonts/sentinel-web/stylesheet.css";
@import "../fonts/untitled-sans-web/stylesheet.css";
@import "../fonts/fonts.scss";
@import "./colors.scss";

.main-background {
  background-color: $pink;
  width: 100vw;
  position: absolute;
  overflow-x: hidden;
  min-height: 100vh;
  height: 1px;
}

.main-content {
  padding: 30px;
  background-color: $white;
  margin: 25px;
  padding-bottom: 50px;
  min-height: 100%;
}

.apply-puzzle {
  position: absolute;
  max-height: 70%;
  height: 600px;
  top: 0;
  right: 0;
  transform: translate(100px, -225px);
}

.apply-main {
  z-index: 5;
  padding-top: 100px;
}
