@import "../../config/styles";

.card {
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: 0rem 0rem 2rem .1rem #7f8c8d;
  margin: 2rem 1.5rem .5rem 1.5rem;
  max-width: 25rem;

  img {
    max-width: 100%;
    border-radius: .5rem .5rem 0rem 0rem;
  }
  
  .body {
    padding: 1rem 1rem;

    h1 {
      color:black;
      margin: 0;
    }
  }
  
}
