@import "../../config/styles";

.hdr {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .link {
    display: flex;
    margin: 0 2rem 0 2rem;

    @include hover-state {
      outline: 0;
      color: $secondary;
    }
    
    @include transition (all, .75s, ease)

    p {
      flex: 1;
    }
  }
}
