.navbar-logo {
  font-size: 1.6rem;
  margin-bottom: 9px;
  text-decoration: none;
}

.navbar-link {
  font-size: 1rem;
  position: relative;
  padding: 0;
  transform-origin: left;
  display: inline-block;

  &::before {
    content: "";
    height: 1px;
    background-color: $lightgray;
    width: 100%;
    transform: scaleX(0);
    transition: all 0.25s ease;
    position: absolute;
    bottom: 0;
    transform-origin: left;
  }

  &:hover {
    cursor: pointer;
    color: $black;
  }

  &:hover::before {
    transform: scaleX(1);
    background-color: $black;
  }
}

.navbar {
  position: relative;
  // z index fixes overlap from puzzle piece, but makes it go in front of project overlay :(
  // z-index: 5;
}
