.apply-teaser {
  text-align: center;
}

.apply-teaser-header {
  width: 350px;
  max-width: 80%;
  margin: auto;
  font-size: 2.25rem;
}

.apply-teaser-header2 {
  margin: 10px;
  font-size: 1.6rem;
}
